<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>DENÚNCIA</p>
  <p>Envio de denúncia do anúncio de id: {{pet_id}}, do usuário {{user_id}}</p>
  <p>Motivo: {{motivation}} </p>
  <p>
    <a href="{{link}}">Ver anúncio</a>
  </p>
  <p>Denúncia feita por:</br>
    <strong>...</strong>
  </p>
</div>